.bundle
db/*.sqlite3
log/*.log
tmp/
config/database.yml
config/local_environment.yml
config/application.rb
*~
.project
.svn
public/images/old
*.DS_STORE
.sass-cache/
public/cache/
public/system/avatars
public/assets/
*.bk
config/newrelic.yml
public/system/cache/wash.json

public/system/cache/cali.css

public/system/cache/cali.json

public/system/cache/wash.css

public/system/default_avatar/avatar.sketch/Data

public/system/default_avatar/avatar.sketch/QuickLook/Preview.png

public/system/default_avatar/avatar.sketch/QuickLook/Thumbnail.png

public/system/default_avatar/avatar.sketch/fonts

public/system/default_avatar/avatar.sketch/version
